// bootstrap
@import "../../../node_modules/bootstrap/scss/bootstrap.scss";

// google fonts
@import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap");

// global styles
$font-primary: "Bree Serif", serif;
$font-secondary: "Merriweather", serif;
$color-primary: #393b44;
$color-secondary: #d6e0f0;
$bg-primary: #f1f3f8;
$bg-secondary: #1999b9;

body {
  background-color: $bg-primary;
}

h1,
h2,
h3,
h4 {
  font-family: $font-primary;
}

.home-page {
  margin: 100px auto 50px;

  h3,
  h4 {
    text-align: center;
  }

  p {
    margin: 15px auto;
    width: 500px;
    text-align: justify;
    font-family: $font-secondary;
  }
}

// navbar
.navbar {
  margin: 15px 30px;
  font-family: $font-primary;

  img {
    margin: 5px;
    width: 100px;
  }
}

.navbar-collapse {
  text-align: center;
}

// login
.card {
  font-family: $font-primary;
  margin: 60px auto;
  width: 350px;
  box-shadow: 15px 15px 30px #363636;
  border-radius: 10px;
}

.card h2 {
  color: $color-primary;
}

form {
  padding: 10px;
  font-size: 0.9rem;
}

.auth-title {
  text-align: center;
  padding: 10px;
}

.alert {
  text-align: center;
}

// loading spinner
.spinner-container {
  text-align: center;
  margin: 100px auto;
  width: 500px;

  .spinner-border {
    width: 5rem;
    height: 5rem;
  }
}

// catalog
.movies-container {
  margin: 20px auto;

  h1 {
    margin: 5px auto;
  }

  .movie-img {
    text-align: center;
  }

  .card-img-top {
    margin: 25px auto 0;
    width: 280px;
    border-radius: 10px;
  }
}

// movie details
.video-detail {
  margin: 60px auto 20px;

  .col-sm {
    margin: 15px;
  }

  p {
    text-align: justify;
    font-family: $font-secondary;
  }
}
